*~
.deps
INSTALL
aclocal.m4
autom4te.cache
compile
config.log
config.scm
config.status
configure
core.scm
depcomp
install-sh
makefile
makefile.in
mcron
mcron.c
mcron.info
*.o
mcron.texinfo
missing
texinfo.tex
