*.[oa]
*.go
*.log
*.trs
*~
.deps
.dirstamp
/bin/cron
/bin/crontab
/bin/mcron
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/texinfo.tex
/doc/config.texi
/doc/cron.8
/doc/crontab.1
/doc/mcron.1
/doc/mcron.info
/doc/stamp-vti
/doc/version.texi
/mdate-sh
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.h
config.h.in
config.log
config.scm
config.status
configure
depcomp
install-sh
missing
pre-inst-env
stamp-h1
texinfo.tex
