*~
*.o
*.go
.deps
INSTALL
aclocal.m4
autom4te.cache
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/texinfo.tex
compile
config.cache
config.log
config.scm
config.status
configure
core.scm
depcomp
/doc/.dirstamp
/doc/config.texi
/doc/mcron.info
/doc/mcron.1
/doc/stamp-vti
/doc/version.texi
install-sh
makefile
makefile.in
/mcron
/mdate-sh
missing
texinfo.tex
